@page
@model WebApp.Pages.RepositoriesModel
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commits</title>
    <!-- Custom JS -->
    <script src="~/js/pages/Commits.js" defer></script>
</head>
<body>
    <div>
        <div>
            <h2 class="border-bottom border-secondary mb-4" style="width:150px">Commits</h2>
        </div>
        <div class="dropdown mb-4">
            <button id="dropdownButton" class="btn btn-outline-secondary dropdown-toggle mb-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">Master</button>
            <ul class="dropdown-menu">
                <li><button class="dropdown-item" onclick="changeDropdown('Master')">Master</button></li>
                <li><button class="dropdown-item" onclick="changeDropdown('Commits')">Commit</button></li>
                <li><button class="dropdown-item" onclick="changeDropdown('Repositorios')">Repositorios</button></li>
            </ul>
        </div>

        <ul id= "commitList" class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action">The current link item</a>
            <a href="#" class="list-group-item list-group-item-action">A second link item</a>
            <a href="#" class="list-group-item list-group-item-action">A third link item</a>
            <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
            <a href="#" class="list-group-item list-group-item-action disabled">A disabled link item</a>
        </ul>

        <button type="button" class="btn btn-primary my-3" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="mdo">Commit</button>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Crear Commit</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Mensaje del commit:</label>
                                <textarea class="form-control" id="commitMsg"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="file">Selecciona un archivo:</label>
                                <input type="file" id="file" name="file" required/>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button id="acceptModalButton" type="button" class="btn btn-primary" data-bs-dismiss="modal">Crear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

