@page
@model WebApp.Pages.HomePageModel
@{
	Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
</head>
<body>
    <!-- Contenido de la página -->
    <div class="container">
        <div class="row align-items-center border-bottom border-2 mb-3">
            <h2 class="col-auto">Repositorios Recomendados</h2>          
        </div>
    </div>    
</body>
</html>
