@page
@model WebApp.Pages.ModifyRepositoryModel
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/js/pages/ModifyRepository.js" defer></script>
</head>
<body>

    <div class="container">

        <div class="row align-items-center border-bottom border-2 mb-5">
            <h2 class="col-8 justify-content-start ">Modificar Repositorio</h2>
        </div>


        <div class="row justify-content-center mb-3">
            <div class="col-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Nombre del Repositorio</span>
                    <input id="nameInput" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Etiquetas</span>
                    <input id="tagInput" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>

                <div class="row justify-content-end mb-3">
                    <div class="col-3">
                        <button id="submitBtn" class="btn btn-primary w-100" type="button">Modificar</button>
                    </div>
                </div>

                <div id="alertDiv">
                </div>
            </div>
        </div>

    </div>


</body>
</html>
