@page
@model WebApp.Pages.RepositoryModel
@{
    Layout = "_Layout";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="~/js/pages/PublicRepository.js" defer></script>
    <script src="~/js/pages/Commits.js" defer></script>
    

    <link rel="stylesheet" href="~/css/Commit.css" asp-append-version="true" />

    <style>

        .button-container {
            text-align: right;
            margin-bottom: 20px
        }

        .comment-btn {
            align-items: start;
            border: none;
        }

        .comment-container {
            margin-bottom: 10px;
            position: relative;
            z-index: 1;
            flex: 1;
		}

		.comment-date {
			font-size: 0.875rem;
			color: #c0c3c5;
			display: block;
		}

        .comment-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .comment-message {
            font-size: 1rem;
            line-height: 1.5;
        }

        .confirm-container {
            margin-top: 10px;
            margin-bottom: 20px;
        }

        .delete-btn {
            align-items: start;
            border: none;
        }

        .edit-btn {
            align-items: start;
            border: none;
        }

        .info-container {
            overflow: auto;
            padding-bottom: 100px;
            position: relative;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        .input-comment {
            margin-top: 20px;
        }

        .response-btn {
            align-items: start;
            border: none;
        }

        .subcomment {
            margin-left: 2rem;
            border-left: 3px solid #dee2e6;
            padding-left: 1rem;
            margin-top: 0.5rem;
        }

        .show-subcomment-btn {
            width: 100%;
            background-color: transparent;
            border: none;
            color: #8d9397;
            padding: 10px;
            cursor: pointer;
            text-align: left;
            display: block;
        }

        .subcomment-container {
            display: block;
        }

    </style>

</head>
<body> 
    <div class="container">
        <div class="row align-items-center">
            <h1 id="repoName" class="col-auto"></h1>
            <span id="repoVisibility" class="col-auto badge text-bg-info"></span>
        </div>

        <div class="row border-bottom border-2 mb-3 pb-2">
            <h6 id="repoTags" class="col-auto">Tags: </h6>
            <button id="likeBtn" type="button" class="btn btn-light col-1 ms-auto btn-primary invisible" data-bs-toggle="button">Like</button>
            <button id="dislikeBtn" type="button" class="btn btn-light col-1 ms-1 btn-primary invisible" data-bs-toggle="button">Dislike</button>
            <button id="suscribeBtn" type="button" class="btn btn-light col-1 ms-1 btn-primary invisible" data-bs-toggle="button">Suscribirse</button>
        </div>

        <div class="row">
            <div class="col-8">
                <div>
                    <h2 class="border-bottom border-secondary mb-4" style="width:150px">Commits</h2>
                </div>
                <div class="row">
                    <h5 class="col-auto">Branch:</h5>

                    <div> 
                        <div class="dropdown mb-4">
                            <button id="dropdownButton" class="btn btn-outline-secondary dropdown-toggle mb-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">Master</button>
                            <ul id="dropDownBranch" class="dropdown-menu" aria-labelledby="dropdownButton">
                                <li><button data-commit="Master" class="dropdown-item" onclick="changeDropdown('Master')">Master</button></li>
                                <li><button class="dropdown-item" onclick="changeDropdown('Commits')">Commit</button></li>
                                <li><button class="dropdown-item" onclick="changeDropdown('Repositorios')">Repositorios</button></li>
                            </ul>
                        </div>

                        <ul id="commitList" class="list-group list-group-flush">
                        </ul>

                        <button type="button" class="btn btn-primary my-3" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="mdo">Commit</button>

                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Crear Commit</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="mb-3">
                                                <label for="recipient-name" class="col-form-label">Mensaje del commit:</label>
                                                <textarea class="form-control" id="commitMsg"></textarea>
                                            </div>
                                            <div class="mb-3">
                                                <label for="file">Selecciona un archivo:</label>
                                                <input type="file" id="file" name="file" required webkitdirectory directory multiple />
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button id="acceptModalButton" type="button" class="btn btn-primary" data-bs-dismiss="modal">Crear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button id="mergeButton" type="button" class="btn btn-primary my-3" onclick="merge()">Merge to Master</button>
                    </div>

                </div>
            </div>
            @*Control Buttons*@
            <div id="controlDiv" class="col-4 border-start p-4 invisible">
                <button id="modifyBtn" type="button" class="btn btn-primary w-100 m-2">Modificar Repositorio</button>
                <button id="deleteBtn" type="button" class="btn btn-danger w-100 m-2">Eliminar Repositorio</button>
                <hr />
                <div class="accordion accordion" id="accordionFlush">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                Crear Branch
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
                            <div class="accordion-body">
                                <input id="branchNameInput" type="text" class="form-control" placeholder="Nombre del Branch" />
                                <button id="createBranchBtn" type="button" class="btn btn-primary w-100 mt-2">Crear Branch</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button id="deleteBranchBtn" type="button" class="btn btn-danger w-100 m-2">Eliminar Branch</button>
            </div>
        </div>

        <div class="row justify-content-center">
			<div class="col-md-10">
                <div class="button-container" id="commentBtnContainer">
                    <button class="comment-btn" id="commentBtn">Comment</button>
                </div>
				<div class="comment-container">
                    @*Comments generated by JS script*@
                </div>
                <div class="confirm-container" id="confirmBtnContainer"></div>
            </div>
        </div>

    </div>

</body>
</html>

