@page
@model WebApp.Pages.RepositoryModel
@{
    Layout = "_Layout";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/js/pages/PublicRepository.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1 id="repoName" class="column justify-content-start"></h1>
            <h2 id="repoVisibility" class="colunn justify-content-end"></h2>
            <h2 id="repoTags"></h2>
        </div>
        <hr/>
        <h2>Branch:</h2>
        <select id="branchSelect" class="form-select w-25" aria-label="Default select example">           
        </select>        
        <hr/>
        <div id="branchDiv">
            
        </div>

    </div>
</body>
</html>

