@page
@model WebApp.Pages.RepositoriesModel
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <script src="~/js/pages/Repositories.js" defer></script>
</head>
<body>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Visibility</th>
                    <th>Tags</th>
                </tr>            
            </thead>
            <tbody id="tableBodyRepo" class="table-group-divider">
                <!-- Rows generated in js-->
            </tbody>
        </table>
    </div>    
</body>
</html>

