@page
@model WebApp.Pages.SearchModel
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/js/pages/Search.js" defer></script>
</head>
<body>

    <form id="searchForm" class="row g-3" >        
        <div class="col-md-5">            
            <input id="searchField" type="text" class="form-control" placeholder="Nombre repositorio">
        </div>   
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Search</button>
        </div>
    </form>

    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Visibility</th>
                    <th>Tags</th>
                </tr>
            </thead>
            <tbody id="tableRepos" class="table group-divider">
                <!-- Rows generated in js-->
                
            </tbody>
        </table>
    </div>

</body>
</html>
